body{

    margin: 0px;


}
:root{
    --color-blue: #0072DB;
    --color-yellow: #FF9900;
}

.title{
font-size: 48px;
font-weight: 400;
line-height: 70px;
letter-spacing: 0.1em;
text-align: center;
color: #3E45E8

}
.yellow{
    color: #E8C23E;
}
.rectangle{
background-size: 100%;
background-repeat: no-repeat;
height: 765px;
margin: 50px auto;
background: linear-gradient(90deg, rgba(52, 52, 52, 0.35) 68.11%, rgba(52, 52, 52, 0) 100%);
background-image: url(../img/фонове\ зображення.png); 
}
.blue{
width: 23px;
height: 145px;
background: linear-gradient(180deg, #00E0FF 0%, #1400FF 100%);
}
.yellow_flag{
width: 23px;
height: 145px;
background: linear-gradient(180deg, #FFA800 0%, #FFF500 100%);
}
.flag{
 width: 23px;
height:290px;
display: inline-block;
margin-top: 150px;
margin-left: 80px;
}
.box_text{
width: 1036px;
height: 304px;
margin: 200px 141px;
display: inline-block ;
}
.text{
font-size: 48px;
font-weight: 700;
line-height: 76px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.title_box{
width: 800px;
height: 63px;
margin-left: 80px;
margin-bottom: 20px;
padding-left: 160px;
}
.title2{
font-size: 40px;
font-weight: 700;
line-height: 63px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);
margin-left: 100px;
}
.img_flag{
    margin-left: 240px;
}

.card{
    display: inline-block;
    width: 30%;
    border: 5px solid rgba(13, 9, 95, 1);
    min-height: 481px;
   border-radius: 35px;

}
.cards{
    margin: 20px auto;
    min-width: 992px;
    max-width: 1200px;
  
}
.card_margin{
 margin: 0px 3%;   

}
.card_img > img{
    width: 100%;
}
.title_card{
    color: var(--color-blue) ;
}
.title_card{
font-size: 24px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
padding-left: 15px;
}
.card_discription{
    color: var(--color-yellow);
font-size: 20px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
padding-left: 15px ;
}
.h3{
 width: 600px;
height: 63px;
margin: 30px auto 0px;

}
.h3_text{
font-size: 40px;
font-weight: 700;
line-height: 63px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);


}
.border{
    width: 592px;
height: 7px;
border: 1px solid  rgba(20, 0, 255, 1);
background: rgba(20, 0, 255, 1);
margin: 0px auto;
}
.map{
width: 1001px;
height: 626px;
margin: 40px auto;
}
.box_go{
    width: 499px;
height: 84px;
background: rgba(42, 97, 240, 1);
margin: 0px auto;
border-radius: 50px ;
padding-bottom: 15px;
}
.text_go{
    width:101px;
height: 82px;
font-size: 64px;
font-weight: 700;
line-height: 101px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
margin: 0px auto;
text-align: center;

}
.foot{
    width: 1440px;
height: 233px;
background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
margin: 30px auto;

}
.foot_title{
    font-size: 48px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-align: left;
    display: block;
    margin: 0px auto;

}
.blue_f{
    color: var(--color-blue);
}
.yellow_f{
    color: var(--color-yellow);
}
.box_f_title{
    width: 499px;
height: 70px;
margin: 0px auto;
text-align: center;
}
.email_box{
width: 452px;
height: 49px;  
margin: 0px auto;
}
.email{
font-size: 36px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.1em;
text-align: center;
color: rgba(168, 157, 157, 1);
display: block;
margin: 0px auto;

}
.phone_box{
    width: 355px;
height: 49px;
margin: 0px 580px;


}
.phone_n{
font-size: 36px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.1em;
text-align: left;
margin: 0px auto;
color: rgba(168, 157, 157, 1);

}
.media{
    width: 150px;
    height: 32px;
    margin: 0px auto;
}
.instagram{
    width: 32px;
    height: 31.3;
    color: rgba(168, 157, 157, 1);
    display: inline-block;
}
.facebok{
    width: 32px;
    height: 31.3px;
    display: inline-block;
    color: rgba(168, 157, 157, 1);

}
.youtube{
display: inline-block;
width: 32px;
height: 29.373672485351562px;
color: rgba(168, 157, 157, 1);
}
.f_margin{
    margin: 0 12%;
}
a{
    text-decoration: none;
    color: #A89D9D;
    
}


