body {

    background: #FBE4FF;
    margin: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
   color: #FFFFFF;

}

.star {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button {
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background: #243B93;
    position: absolute;
    right: -30px;
    top: 245px;

}

.button__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
}

.card__title {
    display: inline-block;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: #353C57;
    position: absolute;

}

.box__header {
    width: 100%;
    height: 65px;
    background: #243B93;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo__box{

    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 0 10%;
}

.box__underheader {
    width: 100%;
    height: 85px;
    background: #BFF0FF;
    margin: 0px auto;
    padding: 0.5%;
box-sizing: border-box;


}

.img__logo {
    display: inline-block;
    padding-top: 3px;

}

.background__header {
    width: 850px;
    height: 37.605709075927734px;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.menu {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.16em;
    text-align: center;
    color: #FFFFFF;

}
.lang{
margin: 0 10%;
display: flex;
align-items: center;
}

.img__globe {
    flex-grow: 1;
    margin: 5%;
}

.ua {
    flex-grow: 1; 
    

}

.box__title {

    padding-left: 5%;

}

.text__title {
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    color: #202846;

}

.box__menu {
    width: 90%;
    height: 57px;
    margin: 30px auto;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.text__menu {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #0000009C;
    margin: 0 auto;
}

.card {
    width: 90%;
    height: 300px;
    background: #2CBDEB;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    box-sizing: border-box;
    position: relative;
    margin: 2% auto;

}


.card__img {
flex: 30%;

    
}

.card__boxtext {
    flex: 70%;
    margin-left: 2%;
}

.line {
    background-color: #FFFFFF;
    width: 100%;
    height: 3px;
    display: inline-block;
    margin-top: 5%;
}

.card__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 20px;
    box-sizing: border-box;
background: #EDFBFF;
}

.card:hover path {
    fill: yellow;
}

.card:hover .button {
    background: #EF075B;

}

.card:hover {
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

#fixed-div {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    transition: all .5s;

}
#fixed-div:hover{
     background: #300c6a7e;
}