body {
    margin: 0;
    background: #212529;

}

a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 1rem;
}

img {
    width: 100%;
    margin: 5px;
}

section {
    margin-bottom: 100px;
    overflow: hidden;
}

.star {
    width: 13.042555809020996px;
    height: 12.779417991638184px;


}

.hover:hover {
    box-shadow: 0px 0px 60px 4px rgb(100, 98, 98);
}

.header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 40%;

}

.nav__item {
    font-size: 22px;
    font-weight: 600;


}

a:hover {
    color: #FFB742;
}

.card-hi {
    width: 70%;
    height: 458.727294921875px;
    margin: 100px auto;


}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;

}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 91px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

}

h5 {
    font-size: 39px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;

}

h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    color: #000000;
    display: inline-block;
    margin: 5px 20px;

}

.img__avatar {
    margin: 0 auto;
    width: 210px;
    height: 222.72727966308594px;

}

.container-card {
    width: 90%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.card__item{
    width: 33%;
    height: 120px;
    display: flex;
    background-image: url(../img/Rectangle\ 6\ \(1\).png);
    background-repeat: no-repeat;
    align-items: center;
    

}
.box__img{
    width: 64px;
    height: 64px;
    margin: 0 auto;
}
.number{
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
margin: 0;
color: #FFB742;
}
.cards__description{
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
margin: 0;
color: #FFFFFF;
}
.arrow{
    width: 20px;
    height: 20px;
    color: #B3B3B3;
}
.cards__item1{
    flex-grow: 1;
width: 25%;
}
.cards__item2{
    flex-grow: 2;
    width: 50%;
}
.card__item:hover {
 background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);


}
.card__item:hover .cards__description{
    color: #000000;
}
.card__item:hover .number{
    color: #000000;
}
.cards__item3{
    flex-grow: 1;
    width: 25%;
}

.about-me {
    width: 95%;
    height: 630px;
    margin-top: 150px;
    display: flex;
    ;
}

.img__about-me {
    flex-grow: 1;
    width: 40%;
}

.description__about-me {
    flex-grow: 1;
    width: 50%;
    padding-left: 100px;
    box-sizing: border-box;

}

.button__title {
    width: 148px;
    height: 42px;
    border-radius: 50px;
    background-color: #FFFFFF14;

}

h4 {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0px;
    color: #FFFFFF;
}

.text__about-me {
    width: 80%;
    height: 177;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #D4D4D4;


}

.button {
    width: 148px;
    height: 54px;
    margin-top: 35px;
}

.button__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #FFB742;
    display: flex;
    align-items: center;
    justify-content: center;


}

.button__middle {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #FFB742;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__box {
    height: 359px;
    margin: 200px auto;
    display: flex;


}

.skills__deskription {
    flex-grow: 1;
    width: 50%;
    padding-left: 5%;
}

.skills__container {
    flex-grow: 1;
    width: 50%;
    padding-left: 30%;
}

.skills__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.skills__container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.flex__item:hover{
    background: linear-gradient(0deg, rgba(255, 183, 66, 0.5), rgba(255, 183, 66, 0.5));

}

.flex__item {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #383E45;
    margin-right: 2%;
    margin-bottom: 2%;


}
.flex__item-size{
    width: 48px;
    height: 48px;
    margin: 16px;

}
.flex__item__img{
    margin: 0 auto;
}
.img__size{
    height: 48px;
    width: 48px;

}



.work {
    border: 1px solid black;
    width: 85%;
    margin: 0 auto;
}

.button__middle {
    width: 148px;
    height: 42px;
    border-radius: 50px;
    background-color: #FFFFFF14;
    margin: 50px auto;

}

.header-works {
    width: 60%;
    height: 40px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-works__item {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 40%;
    font-weight: 600;
    line-height: 30px;
    color: #FFFFFF;

}

.cards {
    width: 85%;
    height: 810px;
    margin: 40px auto;
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cards__item {
    width: 32%;
    margin: 5px;

}

.reviews {
    height: 457px;
    width: 85%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.reviews__card {
    width: 32%;
    height: 456px;
    border-radius: 7.92698860168457px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 5%;
}

.text__reviews {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;

}
.reviews__foto-box{
    display: flex;

}

.foto__revievs {
    width: 72px;
    height: 72px;


}
.designer{
    margin: 5px 20px;
}

.footer {
    height: 470px;
    background: #1C1C1C;
    display: flex;
    padding-top: 2%;
    box-sizing: border-box;


}

.footer__box {
    width: 25%;


}

.footer__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #FFB742;
    margin-top: 22px;

}

.name__description {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #D4D4D4;

}

.footer_titles {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #F5FBF2;

}

.menu__item {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #7B7B7B;

}
