body{
    background-color: #F0FFF0;
    margin: 0px;
    }
    .screen{
    width: 404px;
    height: 490px;
    background-color: black;
    margin: 0px auto;
    padding: 5px;

    }
.box1{
    width: 140px;
    height: 140px;
    margin: 13px auto; 
    border: 0px solid black;
}
.box2{
    width: 404px;
    height: 132px;
    margin: 0px auto;
}
.text{
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 15px;
    text-align: center;
    color: #FFFFFF;
    margin: 16px auto;
    padding: 8px;
}
.link1{
    width: 80%;
    height: 50px;
    border: 4px solid #FFFFFF;
    margin: -25px auto 15px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 800;
    

}
.link2{
    width: 80%;
    height: 50px;
    border: 4px solid #FFFFFF; 
    margin: 0px auto;  
    color: #FFFFFF;
    text-align: center;
    font-weight: 800;
    

}
a{
    text-decoration: none;
}
.color{
    color: #FFFFFF;
}