         body {
             margin: 0;

         }

         img {
             width: 100%;
         }

         a {
             text-decoration: none;
             color: #FFFFFF;
         }

         .page {
             width: 85%;
             height: 1024px;
             background: #001124;
             margin: 0 auto;
             display: flex;
             align-items: center;
             min-width: 700px;
             max-width: 1200px;


         }

         .img__page1 {
             flex-grow: 1;
             width: 50%;

         }

         .login {
             flex-grow: 1;
             width: 50%;
             height: 430px;
             padding-left: 5%;
             box-sizing: border-box;


         }

         .log__text {
             text-align: left;
             font-size: 45px;
             font-weight: 400;
             color: #FFFFFF;
             margin: 0 0 8%;
         }

         .label {
             width: 70%;
             display: block;
             text-align: left;
             color: #FFFFFF;

         }

         .label__box {
             width: 100%;
             height: 40px;


         }

         .form2 {
             font-size: 20px;
             font-weight: 400;
             color: #499FFE;
             margin: 0;

         }

         .user-register {
             font-size: 20px;
             font-weight: 400;
             color: #FFFFFF;
             margin: 10px 0;

         }

         .login-button {
             width: 180px;
             height: 43px;
             background: #015FC7;
             margin-top: 10px;


         }

         .button__text {

             font-size: 20px;
             font-weight: 700;
             margin: 0;
             color: #FFFFFF;
             text-align: center;



         }

         .registration-form {

             flex-grow: 1;
             width: 60%;

         }

         .img__page2 {
             flex-grow: 1;
             width: 40%;
         }

         .img__box {
             width: 65%;
             height: 666px;
             margin: 0 auto;


         }

         .registration-form__box {
             width: 66%;
             height: 809px;
             margin: 0 auto;

         }

         .registration-form__title {
             font-size: 45px;
             font-weight: 400;
             line-height: 62px;
             color: #FFFFFF;

         }

         input[type="submit"] {
             font-size: 20px;
             font-weight: 700;
             color: #FFFFFF;



         }

         .submit__button {
             height: 43px;
             background: #015FC7;
             margin-left: 18%;
             width: 35%;


         }

         .page__2 {
             width: 60%;
             height: 2260px;
             background: #F9F9F9;
             margin: 0 auto;


         }

         .header {
             width: 100%;
             height: 215px;
             padding-left: 48px;
             padding-top: 64px;
             box-sizing: border-box;


         }

         h1 {
             font-size: 24px;
             font-weight: 700;
             line-height: 28px;
             letter-spacing: 0em;
             text-align: left;

         }

         h2 {
             margin-top: 65px;
             font-size: 14px;
             font-weight: 400;
             line-height: 20px;
             color: #171717;

         }

         h3 {
             font-size: 20px;
             font-weight: 700;
             line-height: 24px;
             color: #171717;
         }

         .information {
             display: flex;
         }

         .information__box1 {
             flex-grow: 1;
             width: 50%;

         }

         .information__box2 {
             flex-grow: 1;
             width: 50%;

         }

         select {
             width: 91%;
             height: 46px;
             padding-left: 40px;


         }

         .label__page {
             width: 90%;
             display: block;
      position: relative;
             
         }

         .checkbox {
             margin-bottom: 27px;
         }

         section {
             padding-left: 40px;
         }

         .line {
             width: 90%;
             border: 1px solid #D1D1D1;
             margin: 5px auto;
         }

         .margin {
             margin-bottom: 100px;
         }

         input[type="checkbox"] {
             width: 24px;
             height: 24px;
             vertical-align: middle;

         }

         input {
             accent-color: #FF00FF;

         }

         #nextButton {
             width: 69px;
             height: 40px;
             background-color: #0050D8;
             margin-left: 88%;
             border-radius: 4px;
             color: #FFFFFF;
             font-size: 16px;
             font-weight: 700;


         }


         option[value="text"] {
             font-size: 16px;
             font-weight: 400;
             line-height: 22px;
             text-align: left;
             color: #747474;



         }
        input[type="search"]{
            background-size: 6%;
            background-repeat: no-repeat;
            background-image: url(../img/585e4ae1cb11b227491c3393.png);
            padding: 10px;
            box-sizing: border-box;
            background-position: right center;

        }
       